streamlit
python-dotenv
langchain-groq
plotly
pandas
Pillow
openpyxl
reportlab
qrcode
python-docx
arabic-reshaper
python-bidi
lxml
pytesseract
fpdf2
tavily-python
streamlit-mic-recorder
streamlit-drawable-canvas
langdetect
